@page
@model PikaCore.Areas.Core.Pages.Home.Dedication

@{
    Layout =  "_Layout";
    ViewData["Title"] = "Dedication";
}
<div class="row main-page-content">
    <div class="card-panel teal center white-text">
        <section id="dedication" class="flow-text">
            <strong>I dedicate this simple, but neat web system - my best creation, born from passion - to my dear Monica.</strong>
        </section>
    </div>
</div>