@page
@model PikaCore.Areas.Core.Pages.Home.Policy
@{
    ViewData["Title"] = "Policy";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.1/showdown.min.js"></script>

<div class="container">
  <header class="row card-panel teal white-text center">
    <h5 class="flow-text">
      <strong>This noble page's goal is to gather all information about how PikaCloud stores your data, what is your data used for and policies related to resources available through it.</strong>
    </h5>
  </header>
  <div class="row">
    <ul class="collapsible">
      <li>
        <div class="collapsible-header indigo white-text"><i class="material-icons">lock</i>Privacy Policy</div>
        <div id="privacy_content" class="collapsible-body">
        </div>
      </li>
      <li>
        <div class="collapsible-header indigo white-text"><i class="material-icons">storage</i>Resources Storage Policy</div>
        <div id="data_policy_content" class="collapsible-body">
        </div>
      </li>
    </ul>
  </div>
</div>
<textarea id="privacy_markdown_holder" hidden aria-hidden="True">@Model.PrivacyPolicyMarkdown</textarea>
<textarea id="data_policy_markdown_holder" hidden aria-hidden="True">@Model.DataPolicyMarkdown</textarea>
<script>
  const converter = new showdown.Converter(),
        text      = document.getElementById("privacy_markdown_holder").textContent;
        html      = converter.makeHtml(text);
    const privacyDiv = document.getElementById("privacy_content"); 
    privacyDiv.innerHTML = html;
    
    let dataPolicyMarkdown = document.getElementById("data_policy_markdown_holder").textContent;
    document.getElementById("data_policy_content").innerHTML =  converter.makeHtml(dataPolicyMarkdown);
</script>
