@{
}
    <ul class="right hide-on-med-and-down">
        <li><a class="dropdown-trigger navlink right-align" data-target="apps" style="width: 300px;">Apps</a>
        <li><a class="navlink" asp-area="" asp-page="/Home/About">About</a></li>
    </ul>

    <ul id="apps" class="dropdown-content">
        <li><a asp-controller="Storage" asp-action="Browse">Pika Core Browser</a></li>
        <li><a href="https://player.lukas-bownik.net/">Pika Player</a></li>
    </ul>