@model string
@if (!string.IsNullOrEmpty(Model))
{
    <script>
         let toast = M.toast({ 
            html: '<span>\n'+
                   '            <a class="teal-text" href="https://infra.lukas-bownik.net/Messages/PikaCore">@Model</a>\n'+
                   '        </span>\n'+
                   '        <button id="dismiss-status" class="btn-flat toast-action teal-text">Dismiss</button>',
            displayLength: 10000
         });
         document.getElementById('dismiss-status').addEventListener('click', () => {
             toast.dismiss();
         })
    </script>
    
}