@inject UserManager<ApplicationUser> UserManager
@{ 
    var role = "";
    if (User.Identity.Name != null)
    {
        role = (UserManager.GetRolesAsync(await UserManager.GetUserAsync(User))).Result.ElementAt(0);

        ViewData["Role"] = role;
    }

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] @role Hannah</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="icon" type="image/ico" href="~/images/logooftheyear2018.png" />   
    <script src="~/lib/signalr/dist/browser/signalr.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/js/archiveStatus.js" asp-append-version="true"></script>
    <script src="~/js/typewriter.js" asp-append-version="true"></script>
    <script src="~/js/file.js" asp-append-version="true"></script>
</head>
<body>
<main>
<form asp-area="" asp-action="Logout" asp-controller="Account" method="post" id="logoutForm">
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper navbar-color">
                <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="brand-logo brand-margin">
                    <img class="responsive-img hide-on-med-and-down" src="~/images/logooftheyear2018.png" width="96" height="64" alt="Hannah"/>
                </a>

                
                @await Html.PartialAsync("_LoginPartial")
                
            </div>
        </nav>
    </div>
    <ul id="slide-out" class="sidenav">
        @await Html.PartialAsync("_Sidenav")
    </ul>
</form>
<environment include="Development">
<div class="row">
    <p class="red-text text-lighten-1 center-align">This is an developer instance of Pika Core Application.</p>
</div>
</environment>
<div class="container d-flex justify-content-center container-padding">
    @RenderBody()
</div>
</main>
<footer class="page-footer footer">
    <div class="container">
        <small class="white-text">Interested in this app? See <a class="text-teal" asp-page="/Home/About"><small>About</small></a> page to take a better look at it!</small>
        
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2018 - @DateTime.Now.Year Pika Cloud
        </div>
    </div>
</footer>

<environment include="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</environment>
<environment exclude="Development">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
    </script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
</environment>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const elems = document.querySelectorAll('.modal');
        const instances = M.Modal.init(elems, options);
    });
</script>
@RenderSection("Scripts", required: false)
    
</body>
</html>
