@inject IViewLocalizer Localizer
@{
    var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";
}
<div class="right">
    <ul class="right hide-on-med-and-down">
        @await Html.PartialAsync("_Partial/_LocaleSwitch")
        <li>
            <a class="navlink left center-align" asp-area="Core" asp-controller="Storage" title="Pika Browser">
                Pika Browser
            </a>
        </li>
        <li>
            <a id="app-drop-link" class='dropdown-trigger navlink' href='#' data-target='app-dropdown' title="@Localizer["PikaCloudApps"]">
                <i class="large material-icons">apps</i>
            </a>
        </li>
        @if (!Context.User.Identity!.IsAuthenticated)
        {
            <li><a asp-area="Identity" asp-controller="Gateway" asp-action="Login" class="navlink">@Localizer["Login"]</a></li>
        }
        else
        {
            <li><button class="btn btn-link">@Localizer["Logout"]</button></li>
        }
    </ul>
</div>

<div id="app-dropdown" class="card dropdown-content hide-on-small-and-down appdropdown right z-depth-1-half" tabindex="0">
    <div class="card-content text-left">
        <span class="card-title grey-text text-darken-4 center">
            <img src="~/images/pika-logos/pikacloud_apps.svg" alt="Pika"/>
        </span>
        <div class="collection borderless-collection">
            <a class="collection-item navlink app-menu-item" href="https://player.lukas-bownik.net/" title="Pika Player">
                <span class="material-icons secondary-content navlink">
                    play_arrow
                </span>
                Pika Player
            </a>
            <a class="collection-item navlink app-menu-item" href="https://note.lukas-bownik.net/" title="Pika Note">
                <span class="material-icons secondary-content navlink">
                    subject
                </span>
                Pika Note
            </a>
            <a class="collection-item navlink app-menu-item" href="https://infra.lukas-bownik.net/" title="Pika Status">
                <span class="material-icons secondary-content navlink">
                    favorite_border
                </span>
                Pika Status
            </a>
            
            @if (User.IsInRole("Administrator"))
            {
                <a class="collection-item navlink app-menu-item" title="Pika Cloud Admin">
                    <span class="material-icons secondary-content navlink">
                        dashboard
                    </span>
                    Pika Cloud Admin
                </a>
            }
        </div>
    </div>
</div>