@inject IViewLocalizer Localizer


<li><a asp-area="Core" asp-controller="Storage" asp-action="Index">Pika Core Browser</a></li>
<li><a href="https://player.lukas-bownik.net">Pika Player</a></li>
@if (User.IsInRole("Administrator"))
{
    <li>
        <a class="navlink app-menu-item" title="Pika Cloud Admin">
            Pika Cloud Admin
        </a>
    </li>
}

<li><a class="navlink" asp-area="Core" asp-page="/Home/About">@Localizer["About"]</a></li>

@if (!Context.User.Identity!.IsAuthenticated)
{
    <li>
        <a asp-area="Identity" asp-controller="Gateway" asp-action="Login" class="navlink">@Localizer["Login"]</a>
    </li>
}
else
{
    <li>
        <button class="btn btn-link">@Localizer["Logout"]</button>
    </li>
}

