@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var userName = UserManager.GetUserName(User);
}

<li>
    <div class="user-view">
        <a href="/"><img class="circle" src="~/images/logooftheyear2018.png" alt="Pika Cloud Logo"></a>
        <a asp-controller="Manage" asp-action="Index"><span class="name">@userName</span></a>
    </div>
</li>
<li>
	<div>
		<ul class="collapsible">
			<li>
                <a class="collapsible-header navlink">
                    <i class="material-icons">
                        keyboard_arrow_down
                    </i>
                    Apps
                </a>
				<div class="collapsible-body">
				<ul>
					<li><a asp-controller="Storage" asp-action="Browse">Pika Core Browser</a></li>
                    <li><a href="https://player.lukas-bownik.net">Pika Player</a></li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li>
                            <a asp-controller="Admin" asp-action="Index" class="navlink app-menu-item" title="Pika Cloud Admin">
                                                        <span class="material-icons prefix">
                                                            supervisor_account
                                                        </span>
                                                        Pika Cloud Admin
                                                    </a>
                        </li>
                    }
				</ul>
				</div>
			</li>
		</ul>
	</div>
</li>
<li><a class="navlink" asp-area="" asp-page="/Home/About">About</a></li>
@if (SignInManager.IsSignedIn(User))
{
    <li>
        <button type="submit" class="waves-effect waves-teal btn-flat">Log out</button>
    </li>

}
else
{
    <li><a asp-area="" class="navlink" asp-controller="Account" asp-action="Register">Register</a></li>
    <li><a asp-area="" class="navlink" asp-controller="Account" asp-action="Login">Log in</a></li>
}
