
@{
    ViewData["Title"] = "ApiIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ApiIndex</h2>
<div class="container">
    <p>
        <strong>This is a test page of FMS public API.</strong>
    </p>
</div>

