@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<head>
    <title>Oops! Something went wrong!</title>
</head>

<div class="row">
    <h1>Pika Cloud Critical Error</h1>
    <section class="col s12">
        If you can read this it means that something went wrong.
        This page handles errors which are not because of internal error of the FMS. Details are below, please copy them and pass to the administrator. Thanks and sorry for the inconvenience.<br />
        <br />
        @if (Model != null)
        {
            @if (Model.ShowRequestId)
            {
        <span class="text-info">
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
            <br>
            <strong>Message: </strong><code>@Model.Message</code>
            <br>
            <strong>Code: </strong><code>@Model.ErrorCode</code>
            <br />

            <strong>URL: </strong>
            <code>
                @{
                    var url = !(String.IsNullOrEmpty(Model.Url)) ? Model.Url : "unknown";
                }
            </code>
        </span>
            }
        }
        <div class="col s12 pika-img">
            <img src="~/images/logooftheyear2018-128x128.png" alt="pika" />
        </div>
    </section>

</div>


