@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="row">
    <div class="col s12 m12 l12 center">
        @await Html.PartialAsync($"_Partial/Errors/{Model.ErrorCode}")
        <img class="responsive-img center-align activator" src="https://http.cat/@Model.ErrorCode" width="390" height="270" alt="Couldn't load kitty :c." style="margin-top: 25px;"/>
    </div>
</div>