@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
  <head>
    <title>Oops! Something went wrong!</title>
  </head>
    <div class="main_page">
      <div class="page_header floating_element">
        <span class="floating_element">
          <img src="/images/logooftheyear2018.png" alt="pika"/>
        </span>
        <div style="width: 100%; text-align: center; font-size: 25px;">
          <strong>FMS Critical Error</strong>
        </div>
      </div>
      <div class="content_section floating_element">
        <div class="section_header section_header_red">
          <div id="about"></div>
          If you can read this it means that something went wrong.
        </div>
        <div class="content_section_text">
            This page handles errors which are not because of internal error of the FMS. Details are below, please copy them and pass to the administrator. Thanks and sorry for the inconvenience.<br />
            @if (Model != null)
            {
                @if (Model.ShowRequestId)
                {
                    <p>
                        <strong>Request ID:</strong> <code>@Model.RequestId</code>
                        <strong>Message: </strong><code>@Model.Message</code>
                        <strong>Code: </strong><code>@Model.ErrorCode</code>
                    </p>
                }
            }
            else
            {
                Microsoft.Extensions.Primitives.StringValues code = "";

                Context.Request.Headers.TryGetValue("code", out code);
                var statCode = !String.IsNullOrEmpty(code) ? code.ToString() : "unknown";
                <strong>Code: </strong><code>@statCode</code>
            }
            <br/>
            <strong>URL: </strong><code>unknown</code>
        </div>
      </div>
    </div>
    <div class="validator">
    </div>

