<div id="upload-modal" class="modal modal-fixed-footer">
    <form method="post" enctype="multipart/form-data" id="upload-form" asp-controller="File" asp-action="Upload">
        <div class="modal-content">
            <h4>Upload one or more files</h4>
            <label class="btn btn-primary filelbl" for="file_uploads">Choose files to upload</label>
            <input class="inputfile" type="file" id="file_uploads" name="files" multiple>
            <button type="button" class="btn btn-primary" id="delete_all_files">Clear</button>

            <div class="container">
                <p class="text-danger" id="preview"></p>
                <ul id="filesList" class="collection"></ul>
            </div>

        </div>
        <div class="modal-footer">
            <button id="upload-submit" type="submit" class="modal-close waves-effect waves-green btn-flat" disabled>Upload</button>
        </div>
    </form>
</div>
           
<script src="~/js/file.js"></script>
<script>
    document.getElementById("file_uploads").addEventListener("change", () => {
        let messageLabel = document.getElementById("preview");
        let fileList = document.getElementById("filesList");
       
        messageLabel.innerText = returnFileSize(getSummarySize());
        let uploadButton = document.getElementById("upload-submit");

        if (getSummarySize() == 0) {
            uploadButton.setAttribute("disabled", true);
        }

        if (getSummarySize() >= 5120000) {
            messageLabel.innerText = "File or files are too big to upload it at a time.";
            uploadButton.setAttribute("disabled", true);
            deleteAllFiles();

        } else if (uploadButton.hasAttribute("disabled")) {
            uploadButton.removeAttribute("disabled");
        }
        let list = getFileList();
        list.forEach(entry => {
            let li = document.createElement("li");
            li.innerText = entry;
            li.setAttribute("class","collection-item");
            fileList.appendChild(li);
        });
    });

    document.getElementById("delete_all_files").addEventListener("click", () => {
        deleteAllFiles();
    });
</script>
