@model FMS2.Models.FileResultModel
@using Microsoft.Extensions.FileProviders
@{
    ViewData["Title"] = "Delete - Admin";
}
<h2>@ViewData["Title"]</h2>
<div style="height: 100%;">
    <p class="text">Choose files or folders to be deleted:</p>
    <form asp-controller="File" asp-action="DeleteConfirmation" method="post" class="form-horizontal">
        @{
            var items = new List<SelectListItem>();
            foreach (IFileInfo i in Model.Contents)
            {
                items.Add(new SelectListItem { Text = i.Name, Value = i.PhysicalPath });
            }

        }

        <select class="custom-select" asp-for="Contents" asp-items="@items" required multiple></select>

        <span>
            <button type="submit" class="btn btn-default">Delete</button>
            <button type="submit" class="btn btn-default" formaction="AdminFileView">Cancel</button>
        </span>
    </form>
</div>
