@model FMS2.Models.FileResultModel
@using Microsoft.Extensions.FileProviders
@{
    ViewData["Title"] = "Delete";
}
<h2>@ViewData["Title"]</h2>
<div class="d-flex align-items-center text-center align-content-center flex-wrap row row-margins">
    <p class="text">Choose files or folders to be deleted:</p>
    <div class="input-field col s12">
        <form asp-controller="File" asp-action="Delete" method="post" class="form-horizontal">

            <select asp-for="ToBeDeleted" multiple>
                @{

                    foreach (IFileInfo i in Model.Contents)
                    {

                        <option value="@i.PhysicalPath">@i.Name</option>
                    }
                }
            </select>


            <span>
                <input type="submit" value="Delete" class="btn btn-primary" asp-action="DeleteConfirmation" />
                <button type="submit" class="btn btn-primary" formaction="Index">Cancel</button>
            </span>
        </form>
    </div>
    </div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems);
    });
</script>
