@model RenameFileModel
@{
    ViewData["Title"] = "Rename";
    object type = Model.IsDirectory ? "folder" : "file";
}

<div class="d-flex align-items-center text-center align-content-center flex-wrap row row-margins">
    <h2>@ViewData["Title"]</h2>
    <div class="col-md-4 col-centered">
        <form asp-action="Rename" asp-controller="Storage" class="form-horizontal">
            <div>
                <input hidden asp-for="AbsoluteParentPath" />
                <input hidden asp-for="OldName"/>
            </div>
            <div>
                <input hidden asp-for="IsDirectory" />
            </div>

            <div class="form-group">
                <h4>Changing name of a @type: </h4>
                <label>@Model.OldName</label><br />
                <label>Enter new name: </label>
                <input asp-for="NewName" class="form-control" required/>
                <span asp-validation-for="NewName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Rename</button>
                <a asp-action="Browse" asp-route-path="@Model.ReturnUrl"class="btn btn-default">Cancel</a>
            </div>
        </form>
    </div>
</div>