<!DOCTYPE html>
@inject UserManager<ApplicationUser> UserManager
@{ 
    var role = "";
    var roleName = "";
    if (User.Identity.Name != null)
    {
        role = (UserManager.GetRolesAsync(await UserManager.GetUserAsync(User))).Result.ElementAt(0);
        ViewData["Role"] = role;
        roleName = !string.IsNullOrEmpty(role) ?  $" - {role} - " : "" ;
    }

}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] @roleName Hannah</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" type="image/ico" href="~/images/logooftheyear2018.png" >
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/archiveStatus.js" asp-append-version="true"></script>
    <script src="~/js/typewriter.js" asp-append-version="true"></script>
    <script src="~/js/file.js" asp-append-version="true"></script>
    <script src="~/lib/aspnetcore-custom-validation/aspnetcore-custom-validation.min.js"></script>

</head>
<body>
<main>
    <form asp-area="Core" asp-action="Logout" asp-controller="Account" method="post" id="logoutForm">
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper navbar-color">
                    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="fas fa-bars indigo-text"></i></a>
                    <a asp-area="Core" asp-controller="Home" asp-action="Index" class="brand-logo brand-margin">
                        <img class="responsive-img hide-on-med-and-down" src="~/images/logooftheyear2018.png" width="96" height="64" alt="Hannah"/>
                    </a>
                    @await Html.PartialAsync("_LinksPartial")
                </div>
            </nav>
        </div>
        <ul id="slide-out" class="sidenav">
            @await Html.PartialAsync("_Sidenav")
        </ul>
    </form>
    <div class="container container-padding">
        @RenderBody()
    </div>
</main>
<footer class="page-footer footer">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <small class="white-text left">Interested in this app? See <a class="text-teal" asp-page="/Home/About">About</a> page to take a better look at it!</small>
                <small class="white-text left">PikaCloud uses cookies, by using all apps in PikaCloud, you accept our <a asp-page="/Home/Policy">policies</a>.</small>
            </div>
            <environment include="Development">
                <div class="col s12 m6 l6">
                    <strong class="teal-text right">This is an developer instance of Pika Core Application.</strong>
                </div>
             </environment>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2018 - @DateTime.Now.Year Pika Cloud - From creativity comes immersion
        </div>
    </div>
</footer>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        const elems = document.querySelectorAll('.modal');
        const instances = M.Modal.init(elems);
    });
</script>
@await RenderSectionAsync("Scripts", required: false)

</body>
</html>
