@inject IViewLocalizer Localizer  
@{
    ViewData["Title"] = Localizer["Locked out"];
}

<div class="container">
    <div class="card indigo white-text">
          <div class="card-content white-text">
                <span class="card-title">@ViewData["Title"]</span>
                <p class="white-text">@TempData["LockoutMessage"]</p>
            </div>
            <div class="card-action white-text">
                <a href="/">@Localizer["Home Page"]</a>
            </div>
    </div>
</div>

