@model RenameFileModel
@{
    ViewData["Title"] = "Rename";
    object type = Model.IsDirectory ? "folder" : "file";
}

<div class="row">
    <div class="card indigo center">
        <div class="card-content white-text">
            <span class="card-title">@ViewData["Title"]</span>
                <form asp-area="Core" asp-action="Rename" asp-controller="Storage" class="form-horizontal">
                    <div>
                        <input hidden asp-for="AbsoluteParentPath"/>
                        <input hidden asp-for="OldName"/>
                        <input hidden asp-for="IsDirectory"/>
                    </div>
                    <div class="input-field">
                        <p>Changing name of a @type: </p>
                        <label>New name</label>
                        <input asp-for="NewName" class="login-input-color" required/>
                        <span asp-validation-for="NewName" class="text-danger"></span>
                    </div>
                    <div class="card-action">
                        <button type="submit" class="btn btn-danger">Rename</button>
                        <a asp-action="Browse" asp-route-path="@Model.ReturnUrl" class="btn btn-default">Cancel</a>
                    </div>
                </form>
            </div>
    </div>
</div>