@page
@model PikaCore.Areas.Core.Pages.Policy.Index
@{
    ViewData["Title"] = "Policy";
}
  <div class="row card-panel grey lighten-4 z-depth-0 teal-text center">
      <strong class="flow-text">This noble page's goal is to gather all policies related to how <span class="indigo-text">PikaCloud</span> stores your data, 
      what is your data used for, what resources are available through it etc.</strong>
  </div>
  <div class="row">
      <div class="col s12 m6 l6">
          <div class="card-panel grey lighten-4 z-depth-0 teal-text center">
              <p>
                  <span class="material-icons">lock</span>
                  <a href="/Core/Policy/Privacy" class="teal-text flow-text">Read Privacy Policy</a>
              </p>
              
          </div>
      </div>
      <div class="col s12 m6 l6">
          <div class="card-panel grey lighten-4 z-depth-0 teal-text center">
              <p>
                  <span class="material-icons">storage</span>
                  <a href="/Core/Policy/ResourceStorage" class="teal-text flow-text" >Read Resource Storage Policy</a>
              </p>
          </div>
      </div>
  </div>
