@model string
@if (!string.IsNullOrEmpty(Model))
{
    var type = Model.StartsWith("Error") ? "times" : "check";
    var color = Model.StartsWith("Error") ? "red" : "teal";
    <div class="row card-panel @color">
        <div class="col s1 m1">
            <i class="fas fa-@type"></i>
        </div>
        <p>@Model</p>
    </div>
}