@{
    ViewData["Title"] = "Video - Admin";
    string srcvid = ViewData["srcvid"].ToString();
    srcvid = String.Concat("https://devel.lukas-bownik.net:50001/File/Download?id=",srcvid,"&type=file");
}

<div align="center" class="embed-responsive embed-responsive-16by9">
        <video width="620" controls src=@srcvid />
</div>