@model string
@{
    ViewData["Title"] = "Video";
    var mime = ViewData["Mime"];
    var title = ViewData["VideoTitle"];
    var next = ViewData["NextVid"];
    var prev = ViewData["PrevVid"];
    string srcvid = Model;
    srcvid = String.Concat($"https://{Context.Request.Host}/Video/Stream?p=",srcvid);
}

    
        <div class="row">
            <div class="s12 m12 l12 center-align">
                <h4 class="pt-5 pb-4">
                    @title
                </h4>
                <video class="responsive-video pt-5" controls autoplay>
                    <source src="@srcvid" type="@mime" />
                    An error occurred. Sorry for the inconvenience.
                </video>
            </div>
        </div>