@model string
@{
    ViewData["Title"] = "Video - Admin";
    string srcvid = Model;
    srcvid = String.Concat("https://me.lukas-bownik.net/Video/Convert?path=",srcvid);
}

<div class="embed-responsive embed-responsive-16by9 row-margins">
        <video width="620" src=@srcvid autoplay controls/>
</div>