@{
    ViewData["Title"] = "About me";
}
<h2>@ViewData["Title"]</h2>

<section class="section" id="aboutme">
            <h2 class="section__heading">Who am I?</h2>
            <p class="section_paragraph">
                Hi! I’m Obsidiam, I’m Polish Java&amp;C# developer.
                I'm desktop, mobile and web developer. My target is to be a good developer working in enterprise development.
                I am a freelancer too and a student of technical college at ITC. 
                You can find more info about me <a href="me.lukas-bownik.net">here</a>
            </p>
</section>
<section class="section" id="aboutthis">
            <h2 class="section__heading">What is this?</h2>
            <p class="section_paragraph">
                This software is a simple File Management System. It is a little cloud system set up on my own server. 
                It is my first web app I've ever build. I used C# with ASP.NET Core 2.1 SDK to do it. 
                The source can be found under this <a href="https://wwww.github.com/Obsidiam/fms">url</a>.
            </p>
</section>