@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
If you want to keep in touch with me, you can choose one of these ways:
<ul>
    <li><a href="https://www.facebook.com/obsidiam">Facebook</a></li>
    <li>Mail me using hyperlink below</li>
    <li>Telegram: obsidiam</li>
    <li>Discord: Obsidiam#661</li>
</ul>
<address>
    <strong>Support:</strong> <a href="mailto:lukasbownik99@gmail.com">lukasbownik99@gmail.com</a><br />
</address>
