@{
    ViewData["Title"] = "Contact";
}

    <section class="d-flex align-items-center text-center align-content-center row row-margins">
        <h1>@ViewData["Title"]</h1>
        <p class="section__paragraph">
            If you want to keep in touch with me, you can choose one of these ways:
        </p>

        <div class="row">
            <div class="col s3">
                <a href="https://www.facebook.com/obsidiam"><img class="element-margins" src="https://www.facebook.com/images/fb_icon_325x325.png" height="48" width="48" /></a>
                <p>Facebook</p>
            </div>
            <div class="col s3">
                <a href="https://web.telegram.org"><img class="element-margins" src="https://telegram.org/img/t_logo.png" width="48" height="48" /></a>
                <p><strong>obsidiam</strong></p>
            </div>
            <div class="col s3">
                <a href="https://discordapp.com/"><img class="element-margins" src="~/images/discord-icon.svg" width="48" height="48"/></a>
                <p><strong>Obsidiam#0661</strong></p>
            </div>
            </div>
            <p class="section__paragraph">
                Feel free to write there any errors related to an app, suggestions or if you have software to be done.
            </p>
            <address>
                <strong>Support:</strong> <a href="mailto:lukasbownik99@gmail.com">lukasbownik99@gmail.com</a><br />
            </address>
</section>
