@{
    ViewData["Title"] = "Dedication";
}

<h2>Thank you...</h2>

<section class="section" id="dedication">
    <div style="text-align: center; width: 90%; margin: 8% auto; align-content: center;">
    <strong>
        Born for anyone, given to the only one person.<br/>
        Thanks to her for just being there, near me even that she hadnt to.<br/>
        <p style="color: pink;">16.07.2018</p> - in memoriam.<br/>
        <a style="color: pink;" href="https://www.youtube.com/watch?v=A8yJka6yp2E">Want to be With you from now on.</a>
    </strong>
    </div>
</section>