@{
    ViewData["Title"] = "Home Page";
}
<header class="subpage-title">
    <h1>Welcome to my website!</h1>
</header>
<div class="body-content-centered">
     <a asp-controller="Home" asp-action="Projects" class="btn btn-primary main-page-button">See my projects</a>           
</div>
   
