@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="main-page-content col s12">
        <h1 class="center">Welcome to my website!</h1>
            <p class="typewrite center" data-period="2000" data-type='[ "Hello stranger!", "I am Łukasz.", "And my nickname is Arkasian.", "I am a developer.","For more info: About and Projects... or dig in my storage entering Browse." ]'>
                <span class="wrap"></span>
            </p>
    </div>
</div>
   
