@{
    ViewData["Title"] = "Projects";
}

<header class="subpage-title">
    <h1>My projects</h1>
    </header>
    <div class="row">
        <section id="projects" class="section">
            <div class="row-content">
                <p>
                    There is a number of projects I am a bit proud of even they are not finished.
                    You can easily find them on my GitHub page.
                    There is a list of my bests below:
                </p>

                <ul class="content-list">
                    <li>
                        <a href="#amelia" class="inside-nav-link">Amelia</a>
                    </li>
                    <li>
                        <a href="#prcrec" class="inside-nav-link">Victoria</a>
                    </li>
                    <li>
                        <a href="#www-ldap-gui" class="inside-nav-link">Rose</a>
                    </li>
                    <li>
                        <a href="#fms" class="inside-nav-link">Veronica</a>
                    </li>
                    <li>
                        <a href="#gabriele" class="inside-nav-link">Gabriele</a>
                    </li>
                    <li>
                        <a href="#poolval2" class="inside-nav-link">Poolval2</a>
                    </li>
                </ul>

                <p>
                    As you can see all of my projects are called using female names, but I don't know why, I just create a project and give it another, female name I like.
                </p>
            </div>
            <div id="amelia" class="row-content">
                <h3>Amelia</h3>
                Amelia is a simple server application which collects data from all <a href="https://www.github.com/Obsidiam/ameliaclient">clients</a> in the LAN so it can view data as state of monitors of hosts connected, IP address, host name, OS name. More information available on my repo on GitHub
                <br />
                <a class="btn btn-primary" href="https://www.github.com/Obsidiam/amelia">Click here</a>
            </div>
            <div id="prcrec" class="row-content">
                <h3>Victoria</h3>
                Victoria is a desktop application which allows to record all user behaviors while using keyboard and mouse on Windows NT system. It is written in C# with WPF using Win32 API. More information is available on my GitHub.
                <br />
                <a href="https://www.github.com/Obsidiam/prcrec" class="btn btn-primary">Read about it!</a>
            </div>
            <div id="www-ldap-gui" class="row-content">
                <h3>Rose</h3>
                This is one of my first web apps ever and my very first project written in pure php with JS and HTML. Rose is my first project I've completed for a bigger company: infinite. The code is also available on my GitHub.
                <br />
                <a href="https://www.github.com/Obsidiam/www-ldap-gui/" class="btn btn-primary">Check it out!</a>
            </div>
            <div id="fms" class="row-content">
                <h3>Veronica</h3>
                Veronica is this app. It is written using ASP.NET Core 2.1 using built-in features such as Template Engine, Entitiy Framework and Identity Framework. It's main purpose is to allow anonymous access to my server's storage with some additional features for registered users. You can take a look at the code if you click this button.
                <br />
                <a href="https://www.github.com/Obsidiam/fms" class="btn btn-primary">Wanna check it!</a>
            </div>
            <div id="gabriele" class="row-content">
                <h3>Gabriele</h3>
                Gabriele is the project I have almost finished for both of platforms: MS Windows and GNU/Linux distros. It is written in Java 7 using Processing 3 environment. It's main functionality is just to show the spectrum of sound signal computed by your sound card in real time. Take a look at the code if you are into it.
                <br />
                <a href="https://www.github.com/Obsidiam/gabriele" class="btn btn-primary">I am into it!</a>
            </div>
            <div id="poolval2" class="row-content">
                <h3>Poolval2</h3>
                Poolval2 is a simple, CLI-based written in pure Java 8 PostgreSQL benchmark. I've done it while working in infinite.
                <br />
                <a href="https://www.github.com/Obsidiam/poolval2" class="btn btn-primary">Wanna see it!</a>
            </div>
        </section>
    </div>
    <div class="row">
        <section id="opinions" class="section">
            <div class="row row-content">
                <h2>Opinions</h2>
                <div class="col-md-3">
                    <i>
                        "Luke did an Image Gallery for an optition, using Java.
                        The requiremet was to create 4 image galleries with eye test images.
                        You move to different galleries using arrow keys.
                        Once you are in you use the numbers to go from one picture to the other.
                        He did a fantastic job and met all the requirements I asked for."
                        <br>~ A client from London, UK
                    </i>
                </div>
                <div class="col-md-3">
                    <i>"I asked Luke to create a Java program for me with some good looking GUI based on my preferences, which he succeded to make really quick. I highly recommend this guy, he knows what to do if you give him a good specification." ~ A client from Poland</i>
                </div>
                <div class="col-md-3">
                    <i>Luke and I worked togheter during his internship in <a href="https://www.infinite.pl" target="_blank">infinite</a>. He proved himself to have significant knowledge in general IT subjects and programming along with high levels of preserverence. He is a fast learner and quick thinker what is more he makes valuable suggestions during discussions. To sum up, Lukas shall be an asset to any team.</i>
                </div>
            </div>
        </section>
    </div>
    <div class="row">
        <section id="about-fms" class="section">
            <div class="row-content">
                <h2>How does FMS work?</h2>
                FMS states for File Management System. It allows you to download files from my server without any form of registration.
                However, registered users have some fine features like overall access to server's storage, zipping a folder to quick download all its content or upload small files to the server(planned feature.)
            </div>
            <div class="row-content">
                <h2>How can I register?</h2>
                There are two ways of registering you to the system: local registration or via Google.
                Choose which you want, it doesn't matter because all grants given to registered user are all same!
            </div>
        </section>
    </div>
