@model Pika.Domain.Identity.Data.ApplicationUser
@{ 
    ViewData["Title"] = "Delete user "+Model.UserName;
}
<div class="container">
    <div class="card indigo white-text">
        <span class="card-title">
            Delete user @Model.Email
        </span>
        <div class="card-content">
            <form asp-area="Admin" asp-controller="Index" asp-action="DeleteConfirmation" asp-route-id="@Model.Id" method="post">
                <div class="form-group">
                    <span>
                        <button type="submit" class="btn btn-danger">Delete</button>
                        <a href="/Core/Admin/Index" class="btn btn-primary">Cancel</a>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>