@inject IViewLocalizer Localizer
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <dvi class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column">
                <li class="nav-item">
                    <a asp-page="/Admin/Index" class="nav-link">
                        <i class="nav-icon fa-sharp fa-solid fa-house-blank"></i>
                        <p>@Localizer["Index"]</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="Admin" asp-controller="Category" asp-action="List" class="nav-link">
                        <p>@Localizer["Kategorie"]</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <p>@Localizer["Wiadomości"]</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Index/Systems" class="nav-link">
                        <p>@Localizer["Systemy"]</p>
                    </a>
                </li>
            </ul> 
        </nav>
    </dvi>
</aside>

