@model string
@if (!string.IsNullOrEmpty(Model))
{

    var type = Model.StartsWith("Error") ? "times" : "check";
    <span id="urlDiv" class="row">
        <i class="fas fa-@type"></i>
        @Model
    </span>
    <script>
    let content = document.getElementById("urlDiv");
            M.toast({ html: content });
    </script>
}
