body {
    padding-top: 50px;
    font-family: 'Roboto','Oxygen', sans-serif; 
    font-size: 17px !important; 
    padding-bottom: 20px;
    background-color: #fefefe;
    color: rgb(17,17,17);
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.navbar {
    background-color: #eeeeee !important;
    border-bottom-color: #ddd !important;
    box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.75) !important;
}

.navlink {
    color: #000 !important;
}

    .navlink:hover, .navlink:focus {
        color: #095C9E !important;
    }


a:hover, a:focus {
    color: #095C9E;
    text-decoration: none !important;
}

.hr {
    border-color: #cccccc;
}

.btn-default {
    background-color: #095C9E !important;
    border-color: #9dc3e0 !important;
    margin-top: 20px;
    display: block;
    width: 150px;
    transition-duration: 0.5s;
    position: relative;
    transform: translate(-50%,0);
    margin-left: 90%;
}

    .btn-default:hover, .btn-default:focus {
        background-color: #eee !important;
        border-color: #095C9E !important;
        color: #095C9E !important;
        transition-duration: 0.5s;
    }

.btn-primary {
    background-color: #095C9E !important;
    border-color: #9dc3e0 !important;
    margin-top: 20px;
    display: block;
    transform: translate(-50%,0);
    background-color: #337ab7;
    width: 150px;
    position: relative;
    margin-left: 90%;
    transition-duration: 0.5s;
}

    .btn-primary:hover {
        background-color: #eee !important;
        border-color: #095C9E !important;
        color: #095C9E !important;
        display: block;
        width: 150px;
        transition: background-color linear .5s;
    }

select {
    background-color: inherit;
    width: 100%;
    height: 100%;
    border-style: none;
}

.row {
    align-content: center !important;
    align-items: center !important;
}

.row-content {
    width: 100%;
    padding: 20px;
    margin-top: 10px;
    border: 1px solid !important;
    border-color: rgb(12,12,12);
}

.navbar-brand {
    color: #000 !important;
}

.inside-nav-link:hover{
    color: #9dc3e0;
}

.inside-nav-link{
    color: #095C9E;
}
.content-list{
    list-style: none;
}

.form-control{
    color: rgb(17,17,17) !important;
}

select{
    height: 400px !important;
}

.truncate { width: 100%; height: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

.external-login-btn{
    background-color: transparent;
}

.path-button {
    background-color: transparent;
    padding:0;
    color: #095C9E;
    text-decoration: none;
    border: none;
}

.browse-list-a {
   width: 100% !important;
   height: 100% !important;
}

.logarea {
    width: 100% !important;
    height: 200px !important;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    resize: none;
}

