<div id="downloadPartial" class="form-group">
    <div class="progress" id="archive-progress-bar">
        <div class="indeterminate"></div>
    </div>
    <form asp-action="CancelDownloadAsync" asp-controller="Storage" method="post">
        <p id="info">You have about 10s to cancel archiving process.</p>
        <button id="cancelArchivingButton" type="submit" class="btn btn-primary" data-dismiss="modal">Cancel</button>
    </form>
</div>