@{
    var hash = TempData["urlhash"];
    var port = TempData["port"];
    var url = TempData["protocol"]+"://"+TempData["host"] + "/Storage/PermanentDownload/" + hash;
}
<span id="urlDiv" class="col s2">
    URL generated successfully!
    <input type="text" class="form-control toast-input" id="urlOut" value=@url readonly>
    <button class="btn-flat toast-action toast-button-color" onclick="copyToClipboard('urlOut');" id="copyButton" type="button">COPY</button>
</span>
<script>    
    let content = document.getElementById("urlDiv");
   
    M.toast({html: content});
</script>