    @model string
    @inject IViewLocalizer Localizer
    <div id="file-editor" class="modal">
        <form method="post" asp-area="Core" asp-controller="Storage" asp-action="Create" asp-route-returnUrl="@Model">
            <div class="modal-content">
                <h4>@Localizer["Create new folder"]</h4>
                <div class="form-group">
                    <label for="createDirInput" id="inputDirLabel"></label>
                    <input id="createDirInput" type="text" class="form-control" name="name" />
                </div>
            </div>
            <div class="modal-footer">
                <button id="createDirBtn" class="btn-flat">@Localizer["Create"]</button>
                <a class="btn-flat modal-close">@Localizer["Cancel"]</a>
            </div>
        </form>
    </div>
