@using PikaCore.Infrastructure.Security
@model Tuple<string, ObjectInfo>
@inject IdDataProtection DataProtection
@inject IViewLocalizer Localizer

@{
    var item = Model.Item2;
    var viewableName = item.Name.StartsWith("~")
        ? item.Name.Replace("~", "")
        : item.Name;
    var dirIcon = "folder";
    var etag = item.ETag;
}

<td>
    <a class="teal-text truncate" asp-area="Core"
       asp-controller="Storage"
       asp-action="Browse"
       title="@viewableName">
        <span class="material-icons">
            @dirIcon
        </span>
        @item.Name
    </a>
</td>
<td>@item.Size</td>
<td>@item.LastModified</td>

