@{
    var hash = TempData["urlhash"];
    var port = TempData["port"];
    var url = Url.Link("PermanentDownload" , new
    {
        hash
    });
}
@inject IViewLocalizer Localizer
<span id="urlDiv" class="col s2">
    @Localizer["URL generated successfully"]!
    <input type="text" class="form-control toast-input" id="urlOut" value=@url readonly>
    <button class="btn-flat toast-action toast-button-color" onclick="copyToClipboard('urlOut');" id="copyButton" type="button">@Localizer["COPY"]</button>
</span>
<script>    
    let content = document.getElementById("urlDiv");
   
    M.toast({html: content});
</script>