@inject IViewLocalizer Localizer
<div class="card-title" style="margin-bottom: 90px;">
  <p class="flow-text">@Localizer["Content is loading..."]</p>
</div>
<div class="preloader-wrapper small active">
  <div class="spinner-layer spinner-teal-only">
    <div class="circle-clipper left">
      <div class="circle"></div>
    </div><div class="gap-patch">
      <div class="circle"></div>
    </div><div class="circle-clipper right">
      <div class="circle"></div>
    </div>
  </div>
</div>

