@inject IViewLocalizer Localizer
<ul id="menu" class="nav-context-menu">
    @if (Context.User.Identity!.IsAuthenticated && Context.User.IsInRole("Administrator")
         || Context.User.Identity!.IsAuthenticated && Context.User.IsInRole("Moderator"))
    {
        <li>
            <a class="havelock-text modal-trigger" href="#upload-modal"><span class="material-icons">cloud_upload</span></a>
        </li>
    }
</ul>

