@model string
@if (!string.IsNullOrEmpty(Model))
{
    <span id="urlDiv" class="row">
        @Model
    </span>
    <script>
            let content = document.getElementById("urlDiv");
            M.toast({ html: content });
    </script>
}
