<div id="upload-modal" class="modal modal-fixed-footer">
    <form method="post" enctype="multipart/form-data" id="upload-form" asp-area="Core" asp-controller="Storage" asp-action="Upload">
        <div class="modal-content">
            <h4>Upload one or more files</h4>
            <p id="alert"></p>
            <div class="container">
                <div class="file-field input-field">
                    <div class="btn">
                        <span>Choose files to upload</span>
                        <input id="files" name="files" type="file" multiple>
                    </div>

                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Upload one or more files">
                    </div>
                    <button type="button" class="btn btn-primary" id="delete_all_files">Clear</button>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button id="upload-submit" type="submit" class="modal-close waves-effect waves-green btn-flat" disabled>Upload</button>
        </div>
    </form>
</div>
           
<script>
    document.getElementById("files").addEventListener("change", () => {
        const messageLabel = document.getElementById("alert");
        const uploadButton = document.getElementById("upload-submit");
        messageLabel.innerText = returnFileSize(getSummarySize());

        if (getSummarySize() == 0) {
            uploadButton.setAttribute("disabled", true);
        }

        if (getSummarySize() >= 104857600) {
            messageLabel.innerText = "File or files are too big to upload it at a time.";
            uploadButton.setAttribute("disabled", true);
            deleteAllFiles();

        } else if (uploadButton.hasAttribute("disabled")) {
            uploadButton.removeAttribute("disabled");
        }
    });
</script>
