@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Tuple<PikaCore.Areas.Core.Models.DTO.CategoryDTO, string>

@{ var selected = !string.IsNullOrEmpty(Model.Item2) && Model.Item1.Guid.ToString().Equals(Model.Item2); }
@if (selected)
{
    <option value="@Model.Item1.Guid" selected>@Model.Item1.Name</option>
}
else
{
    <option value="@Model.Item1.Guid">@Model.Item1.Name</option>
}