@model string
@{ 
    ViewData["Title"] = "Generating password";

}
@if(!String.IsNullOrEmpty(Model)){
<div class="form-group">
    <label  class="control-label">New password: </label>
    <input class="form-control" value=@Model/>
    <span class="text-danger"></span>
</div> 
}
