
@{
    ViewData["Title"] = "Generating password";
    var newPasswd =  @TempData["newPassword"];
}
@if (newPasswd != null)
{
<span>
    <label class="control-label">New password: </label>
    <input class="form-control" value=@newPasswd id="newPasswordField" />
    <button class="btn btn-primary-outline" id="copyButton" onclick="copyToClipboard('newPasswordField'); hideDownloadPartial();" type="button"><i class="fas fa-copy"></i></button>
    <span class="text-danger"></span>
</span>
}
