@model ApplicationUser
@{ 
    ViewData["Title"] = "Delete user "+Model.UserName;
}
<div class="row">
    <div class="subpage-title">
        <h1>Delete user @Model.Email</h1>
        <form asp-controller="Manage" method="post">
            <div class="form-group">
                <label asp-for="Email" />
                <span>
                    <a asp-action="DeleteConfirmation" asp-route-id=@Model.Id class="btn btn-primary">Delete</a>
                    <a asp-action="AdminUserPanel" class="btn btn-primary">Cancel</a>
                </span>
            </div>
        </form>
    </div>
</div>


