@model ForgotPasswordViewModel
@inject IViewLocalizer Localizer  
@{
    ViewData["Title"] = Localizer["Forgot your password?"];
}

<div class="container">
    <div class="card indigo white-text">
        <div class="card-content">
            <span class="card-title white-text">@ViewData["Title"]</span>
            <form asp-action="ForgotPassword" method="post">
                <div asp-validation-summary="All" class="red-text"></div>
                <div class="input-field">
                    <label>@Html.DisplayNameFor(m => m.Email)</label>
                    <input asp-for="Email" class="validate grey-text text-lighten-4"/>
                    <span asp-validation-for="Email" class="red-text"></span>
                </div>
                <button type="submit" class="btn btn-default">@Localizer["Submit"]</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
