@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="container">
<div class="card indigo white-text">
    <div class="card-content">
        <span class="card-title white-text">@ViewData["Title"]</span>
        Your password has been reset. Please <a asp-action="Login">click here to log in</a>.
    </div>
</div>
</div>
